In [ ]:
import os
print(os.getcwd())

/content

In [5]:
import pandas as pd
df = pd.read_csv('/content/sample_data/DS_AP_Files/DemographicData.csv')
df

             Country Name Country Code  ...  Internet users         Income Group
0                   Aruba          ABW  ...            78.9          High income
1             Afghanistan          AFG  ...             5.9           Low income
2                  Angola          AGO  ...            19.1  Upper middle income
3                 Albania          ALB  ...            57.2  Upper middle income
4    United Arab Emirates          ARE  ...            88.0          High income
..                    ...          ...  ...             ...                  ...
190           Yemen, Rep.          YEM  ...            20.0  Lower middle income
191          South Africa          ZAF  ...            46.5  Upper middle income
192      Congo, Dem. Rep.          COD  ...             2.2           Low income
193                Zambia          ZMB  ...            15.4  Lower middle income
194              Zimbabwe          ZWE  ...            18.5           Low income

[195 rows x 5 columns]

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [6]:
df.head()

           Country Name Country Code  ...  Internet users         Income Group
0                 Aruba          ABW  ...            78.9          High income
1           Afghanistan          AFG  ...             5.9           Low income
2                Angola          AGO  ...            19.1  Upper middle income
3               Albania          ALB  ...            57.2  Upper middle income
4  United Arab Emirates          ARE  ...            88.0          High income

[5 rows x 5 columns]

In [7]:
df.tail()

         Country Name Country Code  ...  Internet users         Income Group
190       Yemen, Rep.          YEM  ...            20.0  Lower middle income
191      South Africa          ZAF  ...            46.5  Upper middle income
192  Congo, Dem. Rep.          COD  ...             2.2           Low income
193            Zambia          ZMB  ...            15.4  Lower middle income
194          Zimbabwe          ZWE  ...            18.5           Low income

[5 rows x 5 columns]

In [8]:
len(df)

195

In [9]:
df.columns

Index(['Country Name', 'Country Code', 'Birth rate', 'Internet users',
       'Income Group'],
      dtype='object')

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    195 non-null    object
 1   Country Code    195 non-null    object
 2   Birth rate      195 non-null    float64
 3   Internet users  195 non-null    float64
 4   Income Group    195 non-null    object
dtypes: float64(2), object(3)
memory usage: 7.7+ KB

In [11]:
df.describe()

       Birth rate  Internet users
count  195.000000      195.000000
mean    21.469928       42.076471
std     10.605467       29.030788
min      7.900000        0.900000
25%     12.120500       14.520000
50%     19.680000       41.000000
75%     29.759500       66.225000
max     49.661000       96.546800

In [12]:
df.describe().transpose()

                count       mean        std  ...    50%      75%      max
Birth rate      195.0  21.469928  10.605467  ...  19.68  29.7595  49.6610
Internet users  195.0  42.076471  29.030788  ...  41.00  66.2250  96.5468

[2 rows x 8 columns]

In [13]:
lst = df.columns
lst
df['Birth rate']

0      10.244
1      35.253
2      45.985
3      12.877
4      11.044
        ...
190    32.947
191    20.850
192    42.394
193    40.471
194    35.715
Name: Birth rate, Length: 195, dtype: float64

In [14]:
df.columns=(['CountryName', 'CountryCode', 'BirthRate', 'InternetUsers',
       'IncomeGroup'])
df.head()

            CountryName CountryCode  ...  InternetUsers          IncomeGroup
0                 Aruba         ABW  ...           78.9          High income
1           Afghanistan         AFG  ...            5.9           Low income
2                Angola         AGO  ...           19.1  Upper middle income
3               Albania         ALB  ...           57.2  Upper middle income
4  United Arab Emirates         ARE  ...           88.0          High income

[5 rows x 5 columns]

In [15]:
df.CountryName

0                     Aruba
1               Afghanistan
2                    Angola
3                   Albania
4      United Arab Emirates
               ...
190             Yemen, Rep.
191            South Africa
192        Congo, Dem. Rep.
193                  Zambia
194                Zimbabwe
Name: CountryName, Length: 195, dtype: object

In [16]:
df.CountryName.head()

0                   Aruba
1             Afghanistan
2                  Angola
3                 Albania
4    United Arab Emirates
Name: CountryName, dtype: object

In [17]:
df['CountryName'].head()

0                   Aruba
1             Afghanistan
2                  Angola
3                 Albania
4    United Arab Emirates
Name: CountryName, dtype: object

In [18]:
df[['CountryName','BirthRate']].head()

            CountryName  BirthRate
0                 Aruba     10.244
1           Afghanistan     35.253
2                Angola     45.985
3               Albania     12.877
4  United Arab Emirates     11.044

In [19]:
df[4:8][['CountryName','BirthRate']]
#df[['CountryName','BirthRate']][4:8]

            CountryName  BirthRate
4  United Arab Emirates     11.044
5             Argentina     17.716
6               Armenia     13.308
7   Antigua and Barbuda     16.447

In [20]:
result = df.BirthRate * df.InternetUsers
result.head()

0    808.2516
1    207.9927
2    878.3135
3    736.5644
4    971.8720
dtype: float64

In [22]:
df['MyCal']= df.BirthRate * df.InternetUsers

In [23]:
df.head()

            CountryName CountryCode  ...          IncomeGroup     MyCal
0                 Aruba         ABW  ...          High income  808.2516
1           Afghanistan         AFG  ...           Low income  207.9927
2                Angola         AGO  ...  Upper middle income  878.3135
3               Albania         ALB  ...  Upper middle income  736.5644
4  United Arab Emirates         ARE  ...          High income  971.8720

[5 rows x 6 columns]

In [25]:
df.drop('MyCal',1).head()

            CountryName CountryCode  ...  InternetUsers          IncomeGroup
0                 Aruba         ABW  ...           78.9          High income
1           Afghanistan         AFG  ...            5.9           Low income
2                Angola         AGO  ...           19.1  Upper middle income
3               Albania         ALB  ...           57.2  Upper middle income
4  United Arab Emirates         ARE  ...           88.0          High income

[5 rows x 5 columns]

In [29]:
df['MyCalc']= df.BirthRate * df.InternetUsers
df
df.drop('MyCalc',1,inplace=True) #inplace = drop the column from original DF
df.head()

            CountryName CountryCode  ...          IncomeGroup     MyCal
0                 Aruba         ABW  ...          High income  808.2516
1           Afghanistan         AFG  ...           Low income  207.9927
2                Angola         AGO  ...  Upper middle income  878.3135
3               Albania         ALB  ...  Upper middle income  736.5644
4  United Arab Emirates         ARE  ...          High income  971.8720

[5 rows x 6 columns]

In [32]:
df1 = df
df1.head()

            CountryName CountryCode  ...          IncomeGroup     MyCal
0                 Aruba         ABW  ...          High income  808.2516
1           Afghanistan         AFG  ...           Low income  207.9927
2                Angola         AGO  ...  Upper middle income  878.3135
3               Albania         ALB  ...  Upper middle income  736.5644
4  United Arab Emirates         ARE  ...          High income  971.8720

[5 rows x 6 columns]

In [33]:
df1.iloc[0]

CountryName            Aruba
CountryCode              ABW
BirthRate             10.244
InternetUsers           78.9
IncomeGroup      High income
MyCal                808.252
Name: 0, dtype: object

In [35]:
df1.iloc[[0,1]]

   CountryName CountryCode  BirthRate  InternetUsers  IncomeGroup     MyCal
0        Aruba         ABW     10.244           78.9  High income  808.2516
1  Afghanistan         AFG     35.253            5.9   Low income  207.9927

In [36]:
df1.iloc[[0,1],2]

0    10.244
1    35.253
Name: BirthRate, dtype: float64

In [38]:
df1.loc[0]
df1.loc[[0,1],['BirthRate','InternetUsers']]
#df1

   BirthRate  InternetUsers
0     10.244           78.9
1     35.253            5.9

In [39]:
df1.iloc[0:2]

   CountryName CountryCode  BirthRate  InternetUsers  IncomeGroup     MyCal
0        Aruba         ABW     10.244           78.9  High income  808.2516
1  Afghanistan         AFG     35.253            5.9   Low income  207.9927

In [42]:
df1[0:4:2]

  CountryName CountryCode  ...          IncomeGroup     MyCal
0       Aruba         ABW  ...          High income  808.2516
2      Angola         AGO  ...  Upper middle income  878.3135

[2 rows x 6 columns]

In [43]:
df1[0:2]['CountryCode']

0    ABW
1    AFG
Name: CountryCode, dtype: object

In [47]:
#df1 = df1.set_index('CountryCode')
df1.head()

                      CountryName  BirthRate  ...          IncomeGroup     MyCal
CountryCode                                   ...
ABW                         Aruba     10.244  ...          High income  808.2516
AFG                   Afghanistan     35.253  ...           Low income  207.9927
AGO                        Angola     45.985  ...  Upper middle income  878.3135
ALB                       Albania     12.877  ...  Upper middle income  736.5644
ARE          United Arab Emirates     11.044  ...          High income  971.8720

[5 rows x 5 columns]

In [48]:
df1['ABW':'AGO']

             CountryName  BirthRate  ...          IncomeGroup     MyCal
CountryCode                          ...
ABW                Aruba     10.244  ...          High income  808.2516
AFG          Afghanistan     35.253  ...           Low income  207.9927
AGO               Angola     45.985  ...  Upper middle income  878.3135

[3 rows x 5 columns]

In [49]:
df1['ABW':'AGO'][['BirthRate','InternetUsers']]

             BirthRate  InternetUsers
CountryCode
ABW             10.244           78.9
AFG             35.253            5.9
AGO             45.985           19.1

In [51]:
df.iloc[[0,1]]

   CountryName CountryCode  BirthRate  InternetUsers  IncomeGroup     MyCal
0        Aruba         ABW     10.244           78.9  High income  808.2516
1  Afghanistan         AFG     35.253            5.9   Low income  207.9927

In [53]:
df.iloc[[0,1],[0,1]]

   CountryName CountryCode
0        Aruba         ABW
1  Afghanistan         AFG

In [55]:
df.iloc[::-1].head()

          CountryName CountryCode  ...          IncomeGroup     MyCal
194          Zimbabwe         ZWE  ...           Low income  660.7275
193            Zambia         ZMB  ...  Lower middle income  623.2534
192  Congo, Dem. Rep.         COD  ...           Low income   93.2668
191      South Africa         ZAF  ...  Upper middle income  969.5250
190       Yemen, Rep.         YEM  ...  Lower middle income  658.9400

[5 rows x 6 columns]

In [58]:
df1.loc[::2,'CountryName':'InternetUsers'].head()

                      CountryName  BirthRate  InternetUsers
CountryCode
ABW                         Aruba     10.244           78.9
AGO                        Angola     45.985           19.1
ARE          United Arab Emirates     11.044           88.0
ARM                       Armenia     13.308           41.9
AUS                     Australia     13.200           83.0